

  .options-column-radio{
    display: flex;
    flex-direction: column;
    gap: 16px; 
    margin: 48px 16px 0;
     text-align: justify;
    }

  .center .single-correct-options{
    display: flex;
    justify-content: center;
  }

  
  /* Style for each label and checkbox */
  .checkbox-label-radio {
    display: block;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }

  .radio-container{
    display: flex;
    align-items: center;
  }
  
  .checkbox-label-radio input[type="radio"] {
    margin-right: 10px;            /* Adds space between the radio button and the text */
  }

  /* Hide the default radio button */
  input[type="radio"] {
    appearance: none;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    background-color: white;
    position: relative;
  }
  
  /* When the radio button is checked */
  input[type="radio"]:checked {
    background-color: black;
    border-color: black;
  }
/*   
 
  
  
  /* Styling for radio buttons when hovered */
  input[type="radio"]:hover {
    border-color: #555; 
  }
  
  /* Instruction text at the bottom */
  /* .bottom-text {
   text-align: center;
    font-size: 14px;
    background-color: #888;
    text-align: center;
    width: 300px;
    margin-top: 100px;
    padding: 10px;
    margin-left: 90px;
  
  } */
  